<!--로그인-->
<section th:fragment="login">
    <div class="container">
        <div class="row">
            <div class="loginsection clearfix">
                <article class="help_box2">
                    <h3><em>로그인</em></h3>
                    <div id="loginErrorDiv" th:if="${param.error}">
                        <span id="loginError">비밀번호를 잘못 입력했습니다. 다시 입력해주세요.</span>
                    </div>
                    <div class="login">
                        <form action="/user/login" id="loginSubmit" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <div>
                                <label for="userId">로그인 ID</label>
                                <input type="text" id="userId" name="userId" class="form-control"
                                       placeholder="아이디를 입력하세요.">
                                <span id="idError" class="error"/>
                            </div>
                            <div>
                                <label for="password">비밀번호</label>
                                <input type="password" id="password" name="password" class="form-control"
                                       placeholder="비밀번호를 입력하세요.">
                                <span id="pwError" class="error"/>
                            </div>
                            <hr>
                            <div class="button">
                                <button class="btn1" onclick="location.href='/user/join'" type="button">회원가입</button>
                                <button class="btn2" type="submit">로그인</button>
                                <button class="btn3" onclick="location.href='/'" type="button">취소</button>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!--로그인 성공-->
<section th:fragment="loginSuccess">
    <div class="container">
        <div class="row">
            <div class="loginsection clearfix">
                <article class="help_box2">
                    <h3><em>로그인</em></h3>
                    <div class="login">
                        <div>
                            <label for="userId"><strong name="userId" sec:authentication="name" ></strong>님 로그인이 완료되었습니다.</label>
                        </div>
                        <hr>
                        <div class="button">
                            <button class="homeBtn"
                                    th:onclick="|location.href='@{/}'|"type="button">홈으로가기</button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


