<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_head(~{::title},~{::link},~{::script})">
    <title>SRBANK</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:inline="javascript">
        let firstPageNum = [[${dwList.getNumber()}]];
        let lastPageNum = [[${dwList.getTotalPages()}]];
        let accountNumber = [[${selectAccountNumber}]]
    </script>
    <script th:src="@{/js/account.js}"></script>
</head>
<body>
<th:block th:replace="fragments/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragments/content :: account"></th:block>
<th:block th:replace="fragments/headerAndFooter :: footerFragment"></th:block>
</body>
</html>


