<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base :: common_head(~{::title},~{::link},~{::script})">
    <title>SRBANK</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script>
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</head>
<body>
<th:block th:replace="fragments/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragments/content :: admin"></th:block>
<th:block th:replace="fragments/headerAndFooter :: footerFragment"></th:block>
</body>
</html>