<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="webstoryboy">
  <meta name="description" content="은행 업무 사이트를 위한 사이트입니다.">
  <meta name="keywords" content="은행, 계좌조회, 송금, 계좌이체">
  <title>SRBANK</title>

  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/reset19.css}">
  <link rel="stylesheet" th:href="@{/css/style19.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <style>
    .loginsection article > div { height: 150px;}
    button {padding:8px; background-color:#3b3939; color: #fff; border-radius: 5px; box-sizing: border-box;
      font-size:16px; width: 100%; }
  </style>

  <!--파비콘-->
  <link rel="shortcut icon" sizes="16x16" th:href="@{img/favicon.ico}">

  <!-- 웹 폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet">

  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>


</head>
<body>

<section id="loginsection">
  <div class="container">
    <div class="row">
      <div class="loginsection clearfix">
        <article class="help_box2">
          <h3><em>로그인</em></h3>
          <div class="login">
            <div>
              <label id="userid"><strong>[[${member.name}]]님</strong> 로그인이 완료되었습니다.</label>
            </div>
            <hr>
            <div class="button">
              <button class="btn1"
                      th:onclick="|location.href='@{/home}'|"type="button">홈으로가기</button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<th:block th:replace="fragments/headerAndFooter :: footerFragment"></th:block>
</body>
</html>
