<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: common_head(~{::title},~{::link},~{::script})">
    <title>SRBANK</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script></script>
    <script th:src="@{/js/myinfo.js}"></script>
</head>
<body>
<th:block th:replace="fragments/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragments/content :: myinfo"></th:block>
<th:block th:replace="fragments/headerAndFooter :: footerFragment"></th:block>
</body>
</html>