<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
    <script>
    $(document).ready(function () {
        $("#createBtn").click(function () {
            ///ajax 조건식//
            $.ajax({
                url: '/createAccount',
                type: 'get',
                data: {userId : $("#userId").text()},
                dataType: 'text',
                success: function (data) {
                   alert(data);
                },
                error: function () {
                    alert("계좌 생성 실패");
                }
            });
        });
    });
    </script>
</head>
<body>
<h1>내정보 확인 페이지입니다.</h1>
<hr>
<em Id="userId" th:text="${member.userId}"/><br/>
[[${member.phoneNumber}]]<br/>
[[${member.name}]]<br/>
[[${member.timestamp}]]<br/>
<hr>
<ul>SR은행 계좌번호
    <li th:each="dto : ${srList}" >
        <em th:text="${dto.accountNumber}"></em>
    </li>
</ul>

<button id="createBtn"> 계좌 만들기</button>
<button onclick="location.href='/'">뒤로가기</button>
</body>
</html>