<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base :: common_head(~{::title},~{::link},~{::script})">
    <title>SRBANK</title>
    <link th:href="@{/css/send.css}" rel="stylesheet">
    <script th:inline="javascript" sec:authorize="isAuthenticated()">
        let total = [[${total}]]
    </script>
    <script th:src="@{/js/send.js}"></script>
</head>
<body>
<th:block th:replace="fragments/headerAndFooter :: headerFragment"></th:block>
<th:block th:replace="fragments/content :: send"></th:block>
<th:block th:replace="fragments/headerAndFooter :: footerFragment"></th:block>
</body>
</html>